@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

/* Start Global */
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}
/* TODO

  background-color: #212224; 
  change into a global variable
*/
body {
  /* background-color: #212224; */
  /* background: url('images/sitebg.jpg') no-repeat center fixed; */
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}
